<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="http://192.168.0.109:3000/led?pin=13&peroid=10">1、LED13闪动10次</a><p/>
<a href="http://192.168.0.109:3000/mac">2、获取本地的MAC地址</a><p/>
<a href="http://192.168.0.109:3000/motor?pin0=8&pin1=9&pin2=10&pin3=11&direction=1&peroid=100">3、步进电机顺时针转动100个周期</a><p/>
<a href="http://192.168.0.109:3000/motor?pin0=8&pin1=9&pin2=10&pin3=11&direction=1&peroid=100">3、步进电机逆时针转动100个周期</a><p/>
<a href="http://192.168.0.109:3000/relay?pin0=13&pin1=14&pin2=15&action=1">4、继电器组（13、14、15）收紧</a><p/>
<a href="http://192.168.0.109:3000/relay?pin0=13&pin1=14&pin2=15&action=0">4、继电器组（13、14、15）放松</a><p/>
